<div class="goal span6">
  <div class="well">
    <div class="btn-group">
      <%= link_to 'Edit', edit_strategy_goal_path(goal.strategy, goal),
                  :class => 'btn btn-mini' %>
      <%= link_to 'Delete', [goal.strategy, goal],
                  :confirm => 'Are you sure?',
                  :method => :delete,
                  :class => 'btn btn-mini' %>
    </div>

    <div class="align-center">
      <span class="muted align-center"><%= goal.title %></span>
      <h2><%= goal.description %></h2>
    </div>

    <hr>

    <div class="actions">
      <h4 class="muted">To achieve this goal, I need to:</h4>
      <% goal.tasks.each do |task| %>
        <blockquote class="todo">
          <p>
            <strong><%= task.title %></strong>
          </p>
          <p>
            <%= task.description %>
          </p>
          <p>
            <small>Due: <%= task.duedate %></small>
          </p>
        </blockquote>
      <% end %>
    </div>

    <div class="align-center">
      <%= link_to "Add new task", "#addTask#{goal.id}",
                                :class => "btn",
                                :role => "button",
                                "data-toggle" => "modal"
                                %></div>
  </div>
</div>

<!-- Task -->
<div id="addTask<%= goal.id %>" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New task</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => 'tasks/form',
               :locals => { :goal => goal } %>
  </div>
</div>
