<h1>My Strategies</h1>

<% @strategies.each do |strategy| %>
  <div class="strategies">
    <h2><%= strategy.title %></h2>
    <p class="lead"><%= strategy.vision %></p>
    <div class="admin-links">
      <span><%= link_to 'Show', strategy %></span>
      <span><%= link_to 'Edit', edit_strategy_path(strategy) %></span>
      <span><%= link_to 'Destroy', strategy, method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
  </div>
<% end %>

<br />

<%= link_to 'New Strategy', new_strategy_path %>
